@page
@model CesCmsDashboard.Pages.Faqs.IndexModel
@{
    ViewData["Title"] = "FAQs";
}

<h1>FAQs</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Faq[0].Question)</th>
            <th>@Html.DisplayNameFor(model => model.Faq[0].DisplayOrder)</th>
            <th>@Html.DisplayNameFor(model => model.Faq[0].IsPublished)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Faq) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Question)</td>
            <td>@Html.DisplayFor(modelItem => item.DisplayOrder)</td>
            <td>@Html.DisplayFor(modelItem => item.IsPublished)</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
